header.appbar {


  position: fixed;   /* ⬅️ 상단 고정 */
  top: 4px;          /* 기존 margin-top 대체 */
  left: 20px;        /* 기존 margin-left 대체 */
  right: 20px;
  z-index: 1000;
  height: 60px;
  background: rgba(255, 255, 255, 0);
  border-bottom: none;
  backdrop-filter: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin : 0 auto;

  color: #ececff;
}

.appbar__title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(150, 170, 255, 0.6);
}

.appbar .avatar-img {
  width: 52px;        
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin-right: 15px;

  border: 2px solid rgba(255, 255, 255, 0.35); 
  box-shadow:
    0 0 12px rgba(255, 255, 255, 0.25),   /* 부드러운 외곽 발광 */
    0 0 24px rgba(255, 255, 200, 0.15);   /* 달처럼 노란빛 약간 */
}

.profile-menu {
  position: absolute;
  top: 60px;
  right: 16px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);

  width: 150px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.hidden {
  display: none;
}

.menu-item {
  padding: 12px 16px;
  font-size: 14px;
  color: #e9ebff;
  cursor: pointer;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.15);
}
#menu-edit{
  text-align: center;
  border-bottom: 1px solid #ccc;

}
