/* ===== 전체 페이지 ===== */
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  margin-left:auto;
  margin-right:auto;
  background-color: #f4f5f7;
  display: flex;
}

/* ===== 헤더 ===== */
header {
  width: 100%;
  height : 104px;                    /* ✅ 화면 너비에 자동 맞춤 */
  text-align: center;
  background-color: #f4f5f7;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

header h1 {
  font-size: clamp(20px, 2vw, 26px);
  font-weight: 700;
  margin: 0;
  align-items: center;
  color: #222;
}

header hr {
  display: none;
}

/* ===== 메인 영역 ===== */
main {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* ===== 로그인 영역 ===== */
h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

/* ===== 입력 필드 ===== */
.form-group {
  text-align: left;
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #7d8aff;
}

.helper-text {
  font-size: 12px;
  color: #ff6b6b;
  margin-top: 4px;
  white-space: pre-line;
  
}

/* ===== 버튼 ===== */
.btn {
  
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-login {
  background-color: #aca0eb;
  color: white;
  margin-top: 8px;
}

.btn-login:hover {
  background-color: #7F6AEE;
}

.btn-signup {
  margin-top: 10px;
  background-color: transparent;
  color: #272728;
  font-size: 13px;
  border: none;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn-signup:hover {
  text-decoration: underline;
}
