body {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
}
button {
  background-color: #7d8aff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  
}
button:hover {
  background-color: #5b6fe0;
}
